
CREATE USER IF NOT EXISTS '{{ replication_user }}'@'{{ private_ip }}'
IDENTIFIED WITH mysql_native_password BY '{{ replication_password }}';

GRANT REPLICATION SLAVE ON *.* TO '{{ replication_user }}'@'{{ private_ip}}';

FLUSH PRIVILEGES;



