all:
  vars:
    ansible_user: ubuntu
    ansible_ssh_private_key_file: ${ssh_key_path}
  children:
    mysql_master:
      hosts:
        master:
          ansible_host: ${master_ip}
          internal_ip: ${master_internal_ip}
    mysql_slave:
      hosts:
        slave:
          ansible_host: ${slave_ip}
          internal_ip: ${slave_internal_ip}
